<h1 style="text-align: center;">Calculator</h1>

<input
  [(ngModel)]="numA"
  type="text"
  class="col-xs-3 m-1"
  placeholder="Enter Number A"
  aria-label="Enter Number A"
/>{{ numA }}
<br />

<input
  [(ngModel)]="numB"
  type="text"
  class="col-xs-3 m-1"
  placeholder="Enter Number B"
  aria-label="Enter Number B"
  m
/>
{{ numB }}
<br />
<select
  name="Operator"
  [(ngModel)]="mySelect"
  (change)="selectChange()"
  class="col-xs-3 m-1"
>
  <option [value]="item.operator" *ngFor="let item of data">
    {{ item.operator }}
  </option>
</select>
<h5 class="col-xs-3 m-1">{{ operation }} is {{ numValue }}</h5>
<button (click)="calculate()" class="btn-success">Calculate</button>
